@media (max-width: 576px) {
  .bodyInicio {
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 250px;
    grid-template-areas: "header" 
                         "main"
                         "footer";
    .headerInicio{
      grid-area: header;
    }
    .mainInicio{
      .portada {
          display: none;
        }
      .portada2 {
          display:block;
          width: 100%;
        }
      .reel{
        width: 100%;
      }
      grid-area: main;

      .cajaFotos{
        margin-bottom: 100px;
      }

      .cajaTextoInicio{
        width: 100%;
          .textoInicio {
              font-size: 40px;
              margin: 80px;
            }
      }
    }
    .footerInicio{
      width: 100%;
      grid-area: footer;
    }
  }
}